[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = send bizm kakao msg for ruby
[access "refs/*"]
	owner = group user/Gyumin Sim (sim0629)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Gyumin Sim (sim0629)
	label-Verified = -1..+1 group user/Gyumin Sim (sim0629)
	push = group user/Gyumin Sim (sim0629)
	read = group user/Gyumin Sim (sim0629)
	rebase = group user/Gyumin Sim (sim0629)
	removeReviewer = group user/Gyumin Sim (sim0629)
	submit = group user/Gyumin Sim (sim0629)
[access "refs/heads/*"]
	create = group user/Gyumin Sim (sim0629)
	push = +force group user/Gyumin Sim (sim0629)
	pushMerge = group user/Gyumin Sim (sim0629)
	read = group user/Gyumin Sim (sim0629)
[access "refs/tags/*"]
	push = group user/Gyumin Sim (sim0629)
	push = +force group user/Gyumin Sim (sim0629)
